* {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #FFE0D6;
    text-align: center;
}
body {
    height: 100vh;
}
.textCenter {
    text-align: center;
}
.textColorPrimary {
    color: #e64a19;
}
.textColorSecondary {
    color: #491808;
}
.textColorWhite {
    color: #ffffff;
}
#verifyAgeDiv {
    transition: transform 200ms linear;
}
.removed{
    transform: translateY(-100vh);
}
.verifyAge {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}
.ageBox {
    width: 100%;
    height: 20%
}
.minHeight50 {
    min-height: 50px;
    /* line-height: 50px; */
}
.birthdayDiv {
    min-height: 250px;
}
#birthday {
    text-align: right;
    background-color: #ffffff;
    border: 4px solid #ffffff;
    padding: 5px;
    border-radius: 20px;
}
#birthday:focus {
    outline: none;
}
.ageButtonContainer {
    width: 80%;
    max-width: 400px;
}
.ageButton {
    height: 100px;
    width: 100px;
    background-color: #e64a19;
    border-radius: 50px;
    padding: 10px;
    word-wrap: break-word;
    font-size: 17px;
    box-shadow: 1px 1px 1px #250C04;
    font-weight: 600;
}
.notOldButton {
    height: 100px;
    width: 100px;
    background-color: #812B0E;
    border-radius: 50px;
    padding: 10px;
    word-wrap: break-word;
    font-size: 13px;
    font-weight: 400;
    box-shadow: 1px 1px 1px #250C04;
}
.ageButton:active {
    background-color: #A53512;
    transform: translate(1px, 1px);
}
.notOldButton:active {
    background-color: #5C1F0A;
    transform: translate(1px, 1px);
}
.flex {
    display: flex;
    flex-flow: row wrap;
}
.flex100 {
    flex-basis: 100%;
}
.flex50 {
    flex-basis: 50%;
}
.flex33 {
    flex-basis: calc(100% / 3);
}
.alignCenter {
    align-items: center;
}
.justifyCenter {
    justify-content: center;
}
.spaceEvenly {
    justify-content: space-evenly;
}
header {
    min-height: 15%;
}
#win, #loss, #tie, #deckAmount {
    font-weight: 400;
}
.font600 {
    font-weight: 600;
}
main {
    height: 68%;
}
.handContainer {
    min-height: 40%;
}
.handBox {
    min-width: 280px;
    max-height: 130px;
}
.resultsContainer {
    min-height: 10%;
    line-height: 50px;
    font-weight: 500;
}
footer {
    min-height: 15%;
}
.footerDiv {
    width: 100%;
    max-width: 600px;
}
img {
    max-height: 100px;
    max-width: 100px;
}
.gameButton {
    height: 80px;
    width: 80px;
    background-color: #e64a19;
    border-radius: 50px;
    padding: 10px;
    word-wrap: break-word;
    font-size: 17px;
    box-shadow: 1px 1px 1px #250C04;
    font-weight: 600;
}
.gameButton:active {
    background-color: #A53512;
    transform: translate(1px, 1px);
}
.disable {
    opacity: 30%;
    /* cursor: not-allowed; */
}