* {
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #FFE0D6;
    text-align: center;
}
body {
    height: 100vh;
}
.textCenter {
    text-align: center;
}
.verifyAge {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}
.ageBox {
    width: 80%;
    color: #e64a19;
}
.flex {
    display: flex;
    flex-flow: row wrap;
}
.flex100 {
    flex-basis: 100%;
}
.flex33 {
    flex-basis: calc(100% / 3);
}
.alignCenter {
    align-items: center;
}
.justifyCenter {
    justify-content: center;
}
header {
    min-height: 15%;
    border: 2px solid red;
}
#win, #loss, #tie {
    font-weight: 400;
}
.gCountContainer {
    font-weight: 600;
}
.titleContainer {
    color: #e64a19;
}
.gPointsContainer {}
main {
    height: 68%;
}
.handContainer {
    min-height: 40%;
}
.handBox {
    max-width: 100px;
    background-color: white;
}
.resultsContainer {
    min-height: 10%;
    border: 2px solid black;
}
footer {
    min-height: 15%;
    border: 2px solid red;
}
.footerDiv {
    max-width: ;
}